<h1>Login</h1>

<error><%= @errors[0] if @errors %></error>

<%= form_for :session do |f| %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Login" %>
<% end %>
