<!DOCTYPE html>
<html>
  <head>
    <title>RightsRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
'https://fonts.googleapis.com/css?family=Open+Sans:400&subset=latin',
 media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <%= render partial: 'header' %>
</header>
<body class="court-background">
  <div class="white-background">
    <%= yield %>
  </div>
</body>
</html>
